In [ ]:
# 1.Create a list of 5 integers and print the sum of all elements.

In [3]:
L1 = [1,2,3,4,5]
summ = sum(L1)
print(summ)

15

In [ ]:
# 2.Create a tuple with the names of 3 cities and print the second city.

In [23]:
names = ("chennai","madurai","erode")
print("The set is ",names)
sec = names[1]
print("The Sec city is : ",sec)

The set is  ('chennai', 'madurai', 'erode')
The Sec city is :  madurai

In [ ]:
# 3.Create a set of 4 unique numbers and check if a specific number is present in the set.

In [24]:
firstset = {10,20,30,40,50}
spe_num = 50
if spe_num in firstset:
    print(f"The Number {spe_num} is here")
else:
    print(f"The Number {spe_num} is not here")

The Number 50 is here

In [25]:
# 4.Create a dictionary with three key-value pairs representing a student's name, age, and grade. Print the grade.

In [38]:
students = {"name":"mani","age":21,"grade":2}
print("The Dictionary is : ",students)
print("The Grade is : ",students["grade"])

The Dictionary is :  {'name': 'mani', 'age': 21, 'grade': 2}
The Grade is :  2

In [ ]:
# 5.Append a new item to an existing list and print the updated list.

In [39]:
l2 = [11,22,33,44,55,66,77]
l2.append("Hi")
print(l2)

[11, 22, 33, 44, 55, 66, 77, 'Hi']

In [ ]:
# 6.Write a program to find the maximum and minimum values in a list.

In [41]:
l3 = [10,45,12,100,86,14]
MAX = max(l3)
MIN =min(l3)
print("The Max Number in The List :",MAX)
print("The Min Number in The List :",MIN)

The Max Number in The List : 100
The Min Number in The List : 10

In [ ]:
# 7.Given a tuple of numbers, count the occurrence of a specific number.

In [42]:
numbers = (1,2,3,4,5,6,1,7,8,9,10,1)
spe = 1
count = numbers.count(spe)
print(count)

3

In [ ]:
# 8.Create two sets and find their intersection and union.

In [45]:
set1 = {10,20,30,40,50,60}
set2 = {40,50,60,70,80,90}
union = set1 | set2
print(union)
intersection = set1 & set2
print(intersection)

{70, 40, 10, 80, 50, 20, 90, 60, 30}
{40, 50, 60}

In [ ]:
# 9.Write a program to update a dictionary with another dictionary's key-value pairs.

In [50]:
dic1 = {"A":10,"B":20,"C":30,"D":66}
dic2 = {"A":50,"E":55,"C":100}
dic1.update(dic2)
print(dic1)

{'A': 50, 'B': 20, 'C': 100, 'D': 66, 'E': 55}

In [ ]:
# 10.Remove duplicates from a list using a set.

In [7]:
l5 = [11,22,33,454,56,9,7,11,454,33,44,56,9,7]
re_du = list(set(l5))
print(re_du)

[33, 454, 7, 9, 11, 44, 22, 56]

In [ ]:
# 11.Write a program to convert a list of tuples into a dictionary.

In [1]:
dic3 = ([("A",11),("B",222),("C",333),("D",444) ])
print(dic3)

[('A', 11), ('B', 222), ('C', 333), ('D', 444)]

In [ ]:
# 12.Check if two sets are disjoint and print the result.

In [2]:
setf = {1,2,3,4,5,6,7}
sets = {8,9,10,11,12,13}
disjoint = setf.isdisjoint(sets)
if disjoint:
    print("this is disjoint")
else:
    print("this is not disjoint")

this is disjoint

In [ ]:
# 13.Create a dictionary from two lists: one for keys and another for values.

In [5]:
dic_list1 = ["name","age","id","address"]
dic_list2 = ["kannan",21,1001,"chennai"]
dictionary = dict(zip(dic_list1,dic_list2))
print(dictionary)

{'name': 'kannan', 'age': 21, 'id': 1001, 'address': 'chennai'}

In [ ]:
# 14.Write a program to merge two dictionaries and resolve key conflicts by summing the values.

In [5]:
F_dict = {"name":"kumar","age":29,"address":"chennai","company":"Tcs"}
S_dict = {"company":"Tcs","department":"it","salary":500000}
merge_dict = F_dict | S_dict
print(merge_dict)

{'name': 'kumar', 'age': 29, 'address': 'chennai', 'company': 'Tcs', 'department': 'it', 'salary': 500000}

In [ ]:
# 15.Write a program to find the symmetric difference between two sets.

In [7]:
set_F = {1,2,3,4,5,6,7}
set_S = {5,6,7,8,9,10}
sym = set_F.symmetric_difference(set_S)
print(sym)
sym2 = set_F ^ set_S
print(sym2)

{1, 2, 3, 4, 8, 9, 10}
{1, 2, 3, 4, 8, 9, 10}

In [ ]:
# 17.Implement a program to count the frequency of elements in a list

In [11]:
li = [1, 2, 3,5,4,2,6,5,1,4,3,5,1,6,4]
frequency = {}
for i in li:
    if i in frequency:
        frequency[i] += 1
    else:
        frequency[i] = 1
print("Frequency of elements:", frequency)

Frequency of elements: {1: 3, 2: 2, 3: 2, 5: 3, 4: 3, 6: 2}

In [ ]:
# 16.Create a nested dictionary representing a product catalog with categories and subcategories. Print the items in a specific subcategory.

In [3]:
product_catalog = {
    "Electronics": {
        "Mobiles": ["iPhone", "Samsung Galaxy", "OnePlus"],
        "Laptops": ["MacBook", "Dell Inspiron", "HP Pavilion"]},
    "Clothing": {
        "Men": ["T-shirts", "Jeans", "Jackets"],
        "Women": ["Dresses", "Tops", "Skirts"]}}
def print_subcategory_items(category, subcategory):
    if category in product_catalog:
        if subcategory in product_catalog[category]:
            print(f"Items in {subcategory} under {category}: {product_catalog[category][subcategory]}")
        else:
            print(f"Subcategory '{subcategory}' not found under category '{category}'.")
    else:
        print(f"Category '{category}' not found in the catalog.")
print_subcategory_items("Electronics", "Mobiles")
print_subcategory_items("Clothing", "Women")

Items in Mobiles under Electronics: ['iPhone', 'Samsung Galaxy', 'OnePlus']
Items in Women under Clothing: ['Dresses', 'Tops', 'Skirts']

In [ ]:
# calculated in python

In [ ]:
first_input = int(input("First num :"))
sec_input = int(input("Second num :"))
operation = input("What is your opertion : ")

if operation == '+':
    result = first_input + sec_input
    print(f"The result is: {result}")
elif operation == '-':
    result = first_input - sec_input
    print(f"The result is: {result}")
elif operation == '*':
    result = first_input * sec_input
    print(f"The result is: {result}")
elif operation == '/':
    result = first_input / sec_input
    print(f"The result is: {result}")

In [1]:
no = 1
while no <= 10:
    print(no)
    no +=1

1
2
3
4
5
6
7
8
9
10

In [2]:
n = 10
while n >= 1:
    print(n)
    n -= 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
# break,continue and pass

In [7]:
no = 7
fac = 1
for i in range(1,no+1):
    fac *= i 
    
print(f" The {no} Factorial is  :",fac)

 The 7 Factorial is  : 5040

In [ ]:
# prime or not number

In [4]:
n = 9
for l in range(2,n):
    if n%l == 0:
        print(f"{n} is not prime number ")
        break
else:
    print(f"{n} is prime number")

9 is not prime number

In [ ]:
# print prime number

In [15]:
def primenumber(number):
    for k in range(1,number+1):
        for p in range(2,k):
            if k%p == 0:
                break
        else:
            print(k)
primenumber(20)

1
2
3
5
7
11
13
17
19

In [1]:
numbers = [10, 25, 67, 89, 34, 99, 12]  
highest_number = max(numbers)  
print("The highest number is:", highest_number)

The highest number is: 99

In [8]:
numbers = [10, 25, 67, 89, 34, 99, 12]
numbers.sort()
print(numbers[-1])

99

In [1]:
# missing number
arr = [1, 2, 3, 5]
for i in range(len(arr)+1):

0
1
2
3
4

## Stars

In [5]:
## two loop
n = int(input("Enter your number :"))
for i in range(n):
    for j in range(n):
        print("*", end = "")
    print(" ")

Enter your number :5
*****
*****
*****
*****
*****

In [11]:
## single loop
n = int(input("Enter your number :"))
for i in range(n):
    print("*"*n)

Enter your number :5
*****
*****
*****
*****
*****

In [18]:
n = 5
for i in range(1,n):
    print((n-1)*"*")

****
****
****
****

In [39]:
n = 5
for i in range(n):
    for j in range(n):
        if i == 0 or i == n-1 or j == 0 or j == n-1:
            print("*",end=" ")
        else:
            print(" ",end = " ")
    print(" ")

* * * * *
*       *
*       *
*       *
* * * * *

In [52]:
n = 4
for i in range(n):
    for j in range(i+1):
        if j == 0  or i == j or i == n-1 :
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print(" ")

*
* *
*   *
* * * *

In [11]:
# method - 1
n = 5
for i in range(n,0,-1):
    for j in range(i):
        print("*",end="")
    print("")

*****
****
***
**
*

In [12]:
# method - 2
n = 5
for i in range(n,0,-1):
    print("*"*i)

*****
****
***
**
*